.App {
  text-align: center;
}

.App-header {
  background-color: #333436;
  min-height: 95vh;
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  align-items: center;
  justify-content: center;
}

.Panel {
  background-color: gainsboro;
  height: 40vh;
  width: 40vw;
  color: rgb(32, 31, 31);
  font-size: calc(10px + 2vmin);
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
  gap: 2vmin;
  align-items: center;
  justify-content: center;
}

.Col {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
  align-items: center;
  justify-content: center;
}

.App-footer {
  background-color: white;
  color: rgb(32, 31, 31);
  font-size: calc(10px + 1vmin);
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}